In [11]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [12]:
df=pd.read_csv("/content/Decision_Tree_ Dataset.csv")

In [13]:
df.head()

     1      2    3     4    sum Unnamed: 5
0  201  10018  250  3046  13515        yes
1  205  10016  395  3044  13660        yes
2  257  10129  109  3251  13746        yes
3  246  10064  324  3137  13771        yes
4  117  10115  496  3094  13822        yes

In [14]:
df.columns

Index(['1', '2', '3', '4', 'sum', 'Unnamed: 5'], dtype='object')

In [15]:
df.rename(columns={'1':" Initial payment", '2':" Last payment", '3':"Credit Score ", '4':"House Number ","Unnamed: 5":"Result"},inplace=True)

In [16]:
df.head(4)

    Initial payment   Last payment  Credit Score   House Number     sum Result
0               201          10018            250           3046  13515    yes
1               205          10016            395           3044  13660    yes
2               257          10129            109           3251  13746    yes
3               246          10064            324           3137  13771    yes

In [17]:
df.columns

Index([' Initial payment', ' Last payment', 'Credit Score ', 'House Number ',
       'sum', 'Result'],
      dtype='object')

In [18]:
df.drop("sum", axis=1,inplace=True)

In [40]:
df.head(20)

     Initial payment   Last payment  Credit Score   House Number  Result
0                201          10018            250           3046    yes
1                205          10016            395           3044    yes
2                257          10129            109           3251    yes
3                246          10064            324           3137    yes
4                117          10115            496           3094    yes
5                406          10187            166           3068    yes
6                461          10252            172           3062    yes
7                158          10192            144           3469    yes
8                136          10376            230           3223    yes
9                194          10092            626           3083    yes
10               427          10404            137           3029    yes
11               151          10203            411           3257    yes
12               338          10074            432           3246    yes
13               362          10403            257           3073    yes
14               108          10451            336           3238    yes
15               315          10005            302           3516    yes
16               193          10289            629           3040    yes
17               279          10308            199           3426    yes
18               120          10198            233           3665    yes
19               246          10176            717           3079    yes

In [21]:
x=df.values[:, 0:4]
y=df.values[:,4]

In [22]:
X_train, X_test, y_train,y_test= train_test_split(x,y,test_size=0.3,random_state=100)

In [25]:
clf_entropy=DecisionTreeClassifier(criterion="entropy",random_state=100,max_depth=3,min_samples_leaf=5)

In [26]:
clf_entropy.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3, min_samples_leaf=5,
                       random_state=100)

In [27]:
y_pred=clf_entropy.predict(X_test)

In [28]:
y_pred

array(['yes', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'yes', 'No', 'No',
       'No', 'No', 'yes', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'No',
       'No', 'yes', 'No', 'yes', 'yes', 'No', 'No', 'yes', 'No', 'No',
       'No', 'yes', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'yes', 'No',
       'yes', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'yes', 'No', 'No',
       'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'No', 'yes',
       'yes', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No', 'No',
       'No', 'No', 'No', 'yes', 'No', 'yes', 'yes', 'No', 'yes', 'No',
       'No', 'No', 'No', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'No',
       'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes',
       'yes', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No',
       'yes', 'yes', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'yes', 'No',
       'No', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No',
       'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No', 'yes', 'yes',
       'No', 'No', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes',
       'No', 'yes', 'No', 'No', 'No', 'No', 'yes', 'No', 'No', 'No',
       'yes', 'yes', 'No', 'yes', 'yes', 'No', 'yes', 'No', 'yes', 'No',
       'No', 'yes', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'No', 'No',
       'No', 'No', 'No', 'yes', 'No', 'No', 'yes', 'yes', 'yes', 'yes',
       'yes', 'No', 'yes', 'No', 'yes', 'No', 'No', 'No', 'yes', 'yes',
       'No', 'No', 'No', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'No',
       'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes',
       'yes', 'No', 'yes', 'yes', 'No', 'No', 'yes', 'No', 'yes', 'yes',
       'No', 'No', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'No', 'No',
       'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'No', 'yes', 'No',
       'No', 'No', 'No', 'yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'No',
       'yes', 'No', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'No', 'yes',
       'No', 'yes', 'No', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes',
       'yes', 'No', 'No', 'yes', 'No', 'yes', 'yes', 'No', 'No', 'yes',
       'yes'], dtype=object)

In [30]:
print("Accuracy is"),accuracy_score(y_test,y_pred)*100

Accuracy is

(None, 93.66666666666667)

In [32]:
import pickle

In [35]:
with open("clf_model","wb") as f:
   pickle.dump(clf_entropy,f)

In [36]:
with open("clf_model","rb") as f:
  np=pickle.load(f)

In [43]:
np.predict([[240,12016,900,4355]])

array(['No'], dtype=object)